/*

* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals

*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
/*css for full size background image*/
  background: url(Images/kyleCar4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #2E7D32;
  margin: 0px;

}


.cover-heading{
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 76px;
  text-shadow: 1px 2px #FFB74D;
  color: #FF5722;
  margin-left: 5%;
  margin-top: 8%;
  font-family: 'Josefin Sans', sans-serif;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  margin-left: 0;
  padding-left: 0;
}
.cover-container {
  margin-left: 5%;
}

/* Padding for spacing */
.inner {

}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: #E0E0E0;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  margin: 0px 20px;

}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #FAFAFA;
  opacity: 0.1;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #E0E0E0;

}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    margin-top: 20%;
  }
}


/*
 * Cover
 */

.cover {

}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .masthead-nav > li {
  display: block;
  margin: 0;
  padding: 0;
}
.masthead-nav > li + li {
  margin-left: 0px;
}
.inner ul{
  margin-left: -12%;
}
@media screen and (max-width: 700px){
  .cover-heading{
    font-size: 50px;
  }
}
}